<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("_Header")
    <div class="container">

        @RenderBody()

    </div>


    <script src="~/lib/vue/vue.global.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
